<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<!-- font awesome cnd link for font style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" 
integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous"
 referrerpolicy="no-referrer" />
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<!-- jQuery library -->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="container-fluid main-menu">
      <div class="row">
           <div class="col-md-10 col-12 ml-auto"> 
       
            <nav class="navbar navbar-expand-lg  navbar  ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"> <i class="fa fa-snowflake"></i> samweather <i class="fa fa-snowflake"></i> </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">  
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"> 
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                      </li> 
                     </ul>
                  
                   </div>
               </div>
              </nav>
           </div>  
        </div>
   </div> 
    <!-- main header  -->

   <div class="container-fluid main_header">
       <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!-- left side div -->
                   <div class="col-md-12 col-12 main_header_left  align-items-center ">
                   <figure class="errmsg">
                       <img src="./images/404error(1).png" alt="sammed" class="img-fluid"  title="sammed"/>
                    </figure>
                <h1>  {{errmsg}}  </h1>
                       {{!-- <p>welcome</p> --}}
                       {{!-- <h1>I Am A <span class="txt_clr">Mern Stack Developer</span>   </h1> --}}
                       <a href="/" alt="GitHub" target="_blank"><button class="btn btn-primary">go back</button></a>
                   </div>
               </div>

           </div>
       </div>
   </div>
   <!-- footer code -->
  <footer>
    <p>created by sammed </p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>